body{background-color: LightCyan;}
hr{border-style: none;
border-top-style: dotted;
border-color: black;
border-width: 5px;
width:5%;
    }
h1{color: Plum;}
h2{color: silver;}
h3{color: silver;}
h4{color: silver;}:
